html, body {
    margin: 0;
    background-color: white;
    font-family: arial, sans-serif;
    background-image: url("../images/image-1.jpg")
}

#first-container {
    margin: 30px 400px;
    padding: 5px;
    background-color: white;
    border: 3px rgb(102, 241, 67) solid;
    border-radius: 23px;
    box-shadow: rgb(102, 241, 67) 1px 1px 3px;
}

#title {
    padding: 1px 130px; 
    color: rgb(102, 241, 67);
    text-shadow: rgb(102, 241, 67) 1px 1px 8px;
    font-size: 40px;
    font-weight: bolder;
}

#second-container {
    margin: 80px 400px;
    padding: 45px 250px;
    background-color: white;
    border: rgb(102, 241, 67) 2px solid;
    border-radius: 1px;
    box-shadow: rgb(102, 241, 67) 1px 1px 10px;
}

#session-and-break-container {
    margin:  0px;
    padding: -25px;
    display: inline-block;
}

#session-container {
    /* padding: 15px; */
    border-right: rgb(102, 241, 67) 2px solid;
    border-bottom: rgb(102, 241, 67) 2px solid; 
}

#session-text {
    margin-left: -10px;
    padding: 2px 2px 2px -30px;
}

#text-1, #text-2 {
    margin: 13px -173px;
    color: rgb(102, 241, 67);
    font-weight: bolder;
    font-family: arial, sans-serif;
    font-size: 20px;
    text-shadow: rgb(102, 241, 67) 1px 1px 1px;
}

#arrows-and-number-1, #arrows-and-number-2 {
    position: relative;
    left: -120px;   
}

#arrow-1, #arrow-2, 
#arrow-3, #arrow-4 {
    outline: none;
    border: none;
    background-color: white;
    padding: 10px;
    color: rgb(102, 241, 67);
}

#arrow-1:hover, #arrow-2:hover,
#arrow-3:hover, #arrow-4:hover {
    /* border: lightgrey 1px solid; */
    box-shadow: 1px 1px 5px;
}

#down-arrow-1, #session-count, #up-arrow-1, 
#down-arrow-2, #break-count, #up-arrow-2 {
    display: inline-block;
    margin: -65px;
    padding: 14px;
}

#break-container {
    border-right: rgb(102, 241, 67) 2px solid;
    border-top: rgb(102, 241, 67) 2px solid; 
}

#break-text {
    margin-left: -10px;
    padding: 2px 2px 2px -30px;
}

#break-count, #session-count {
    color: black;
    font-weight: bolder;
}

#clock-interface-container {
    margin-left: -200px;
    margin-top: -150px;
    margin-bottom: -100px;
    margin-right: 1px;
    display: inline-block;
    position: relative;
    top: -55px;
    left: 255px;
}

#clock-interface-container-1, #clock-interface-container-2 {
    display: inline-block;
}

#clock-interface-container-1 {
    position: relative;
    top: -10px;
    left: 15px;
}

#clock-onterface-container-2 {
    position: relative;
    right: -600px;
}

#minutes, #colon, #seconds {
    display: inline-block;
    color: black;
    font-size: 40px;
}

#play-button, #pause-button, 
#stop-button, #reset-button {
    outline: none;
    padding: 1px;
    border: none;
    background-color: rgb(255, 255, 255);
   /*  position: relative;
    right: 500px; */
}

#play, #pause, #stop, #reset {
    padding: 5px;
    color: rgb(102, 241, 67);
}

#play-button:hover, #pause-button:hover,
#stop-button:hover, #reset-button:hover {
    box-shadow: lightgrey 1px 1px 2px;
}

#third-container {
    margin: 150px 0px 0px 0px;
    padding: 10px;
    background-color: rgb(102, 241, 67);
}

#copyright {
    color: white;
    position: relative;
    right: -495px;
}