html, body {
    margin: 0;
    background-color: white;
    font-family: arial, sans-serif;
    background-image: url("../images/image-1.jpg")
}

#first-container {
    margin: 30px 400px;
    padding: 5px;
    background-color: white;
    border: 3px rgb(102, 241, 67) solid;
    border-radius: 23px;
    box-shadow: rgb(102, 241, 67) 1px 1px 3px;
}

#title {
    padding: 1px 130px; 
    color: rgb(102, 241, 67);
    text-shadow: rgb(102, 241, 67) 1px 1px 8px;
    font-size: 40px;
    font-weight: bolder;
}

#second-container {
    margin: 80px 400px;
    padding: 45px 250px;
    background-color: white;
    border: rgb(102, 241, 67) 2px solid;
    border-radius: 1px;
    box-shadow: rgb(102, 241, 67) 1px 1px 10px;
}

#session-and-break-container {
    margin:  0px;
    padding: -25px;
    display: inline-block;
}

#session-container {
    /* padding: 15px; */
    border-right: rgb(102, 241, 67) 2px solid;
    border-bottom: rgb(102, 241, 67) 2px solid; 
}

#session-text {
    margin-left: -10px;
    padding: 2px 2px 2px -30px;
}

#text-1, #text-2 {
    margin: 13px -173px;
    color: rgb(102, 241, 67);
    font-weight: bolder;
    font-family: arial, sans-serif;
    font-size: 20px;
    text-shadow: rgb(102, 241, 67) 1px 1px 1px;
}

#arrows-and-number-1, #arrows-and-number-2 {
    position: relative;
    left: -120px;   
}

#arrow-1, #arrow-2, 
#arrow-3, #arrow-4 {
    outline: none;
    border: none;
    background-color: white;
    padding: 10px;
    color: rgb(102, 241, 67);
}

#arrow-1:hover, #arrow-2:hover,
#arrow-3:hover, #arrow-4:hover {
    /* border: lightgrey 1px solid; */
    box-shadow: 1px 1px 5px;
}