html, body {
    margin: 0;
    background-color: white;
    font-family: arial, sans-serif;
    background-image: url("../images/image-1.jpg")
}

#first-container {
    margin: 30px 400px;
    padding: 5px;
    background-color: white;
    border: 3px rgb(102, 241, 67) solid;
    border-radius: 23px;
    box-shadow: rgb(102, 241, 67) 1px 1px 3px;
}